<a href="https://colab.research.google.com/github/jsmnnfr/CCINCOML_EXERCISES_COM23P/blob/main/Exercise6_Nofre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 6

## Lists

1. Create a list

- The name of the new list should be  `month`

- The list should contain all the months in a year (January, February, March, April, May, June, July, August, September, October, November, December)

In [1]:
# put your answer here
months = ['January' , 'February' , 'March' , 'April' , 'May' ,  'June' , 'July' , 'August' , 'September' , 'October' , 'November' , 'December']
print (months)

['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

2. Display an element

- Display the fourth element 'April' in the `month` list

In [2]:
# put your answer here
months = ['January' , 'February' , 'March' , 'April' , 'May' ,  'June' , 'July' , 'August' , 'September' , 'October' , 'November' , 'December']
print (months[3])

April

3. Slice the list

- Use slicing to get the last 4 months of the year of (September, October, November, December) of the `month` list

In [3]:
# put your answer here
months = ['January' , 'February' , 'March' , 'April' , 'May' ,  'June' , 'July' , 'August' , 'September' , 'October' , 'November' , 'December']
last_four_months = months [8:12]
print (last_four_months)

['September', 'October', 'November', 'December']

- Use slicing to get the first 4 months of the year (January, February, March, April) of the `month` list

In [4]:
# put your answer here
months = ['January' , 'February' , 'March' , 'April' , 'May' ,  'June' , 'July' , 'August' , 'September' , 'October' , 'November' , 'December']
first_four_months = months [0:4]
print (first_four_months)

['January', 'February', 'March', 'April']

4. List Methods

- Get the size of the month list using the `len()` method

In [5]:
# put your answer here
months = ['January' , 'February' , 'March' , 'April' , 'May' ,  'June' , 'July' , 'August' , 'September' , 'October' , 'November' , 'December']
print (len(months))

12

- Get the element with the largest value of the month list using `max()`

In [6]:
# put your answer here
months = ['January' , 'February' , 'March' , 'April' , 'May' ,  'June' , 'July' , 'August' , 'September' , 'October' , 'November' , 'December']
print (max(months))

September

- Get the element with the smallest value of the month list using `min()`

In [7]:
# put your answer here
months = ['January' , 'February' , 'March' , 'April' , 'May' ,  'June' , 'July' , 'August' , 'September' , 'October' , 'November' , 'December']
print (min(months))

April

- Sort the months of the year by alphabetical order using the `sorted()` function

In [8]:
# put your answer here
months = ["January" , "February" , "March" , "April" , "May" ,  "June" , "July" , "August" , "September" , "October" , "November" , "December"]
print (sorted(months))

['April', 'August', 'December', 'February', 'January', 'July', 'June', 'March', 'May', 'November', 'October', 'September']

## Tuple

1. Create a tuple with only three elements, the elements are:

- Your month of birth in integers
- Your day of birth in integers
- Your year of birth in integers

Use tuple unpacking to directly assign the month, day, year variable to each elements in your tuple.

In [9]:
# put your answer here
birthdate = (11 , 12 , 2003)
month , day , year = birthdate
print ("Month: " , month)
print ("Day: " , day)
print ("Year: " , year)

Month:  11
Day:  12
Year:  2003

## Set

1. The list below contains a number of a products of a computer store. Notice that there are duplicate values.

In [ ]:
products = ["laptop", "smartphone", "tablet", "mouse" ,"powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"]

The difference between a list and a set is that a list allows duplicate values. One way to remove duplicates is to convert a list into a set.

Convert the `products` list into a set

In [10]:
# put your answer here
products = ["laptop", "smartphone", "tablet", "mouse" ,"powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"]
remove_duplicate = (set(products))
print (remove_duplicate)

{'smartphone', 'speakers', 'monitor', 'projector', 'powerbank', 'mouse', 'tablet', 'keyboard', 'headphones', 'printer', 'laptop'}

2. Verify if "headphones" exists in the `products` set  using the `in` operator

In [11]:
# put your answer here
products = ["laptop", "smartphone", "tablet", "mouse" ,"powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"]
if 'headphones' in products:
  print ('Yes, headphones exists in the products set.')
else:
    print ('No, headphones does not exist in the products set.')

Yes, headphones exists in the products set.

## Dictionaries

1. Create a dictionary of your favorites

- Keys should be the type
- Values should be the sample from that type

Example:

food: friedchicken

color: blue

sport: badminton

drink: mangojuice

dessert: cheesetart

In [12]:
# put your answer here
favorites = { "food : spaghetti" , "color : purple" ,"sport : volleyball" ,"drink : mogumogu" ,"dessert : mangograham"}
print (favorites)

{'color : purple', 'drink : mogumogu', 'sport : volleyball', 'food : spaghetti', 'dessert : mangograham'}

## Loops

1. Write a for loop to iterate all elements of the `month` list. Print each element for every iteration.

In [13]:
# put your answer here
months = ['January' , 'February' , 'March' , 'April' , 'May' ,  'June' , 'July' , 'August' , 'September' , 'October' , 'November' , 'December']
for month in months:
  print(month)

January
February
March
April
May
June
July
August
September
October
November
December

2. Write a for loop and add a condition to only display the elements in the `month` list that ends with "ber"

In [14]:
# put your answer here
months = ['January' , 'February' , 'March' , 'April' , 'May' ,  'June' , 'July' , 'August' , 'September' , 'October' , 'November' , 'December']
for i in months:
  if i.find('ber') > 0:
    print(i)

September
October
November
December

3. Write a for loop and add a condition to only display the elements in the `month` list that does not end with "ber"

In [15]:
# put your answer here
months = ['January' , 'February' , 'March' , 'April' , 'May' ,  'June' , 'July' , 'August' , 'September' , 'October' , 'November' , 'December']
for i in months:
  if i.find('ber') < 0:
    print(i)

January
February
March
April
May
June
July
August

4. Write a for loop and use `range()` to display your firstname five times

In [16]:
# put your answer here
for i in range (5):
  print ('Jasmine')

Jasmine
Jasmine
Jasmine
Jasmine
Jasmine

5. Write a for loop that iterates over the names list to create a usernames list.

To create a username for each name, make everything lowercase and replace spaces with underscores. Running your for loop over the list:

Example:

names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]

should create a new list

usernames = ["joey_tribbiani", "monica_geller", "chandler_bing", "phoebe_buffay"]

In [18]:
# put your answer here
names = ["Joey Tribbiani" , "Monica Geller" , "Chandler Bing" , "Phoebe Buffay"]
usernames = []
for i in names:
  usernames.append(i.lower().replace(" " , "_"))
  print (usernames)

['joey_tribbiani']
['joey_tribbiani', 'monica_geller']
['joey_tribbiani', 'monica_geller', 'chandler_bing']
['joey_tribbiani', 'monica_geller', 'chandler_bing', 'phoebe_buffay']

6. Write a while loop to iterate throught the `month` list

- Break the loop if the element ends with "ber"

In [62]:
# put your answer here
months = ['January' , 'February' , 'March' , 'April' , 'May' ,  'June' , 'July' , 'August' , 'September' , 'October' , 'Novemeber' , 'December']
index = 0
while index < len(months):
  if months [index].endswith("ber"):
    break
  print(months[index])
  index = index+1

January
February
March
April
May
June
July
August

## Functions

1. Write a python function named population_density that takes two arguments, population and land_area, and returns a population density calculated from those values.

The population density can be calculated using this formula:

population_density = population/land_area

In [69]:
# put your answer here
def population_density(population, land_area):
  density = population / land_area
  return density
  population = 2000
  land_area = 100
density = population_density(population, land_area)
print ("Population Density:" , density)

Population Density: 94.97626237797598

2. Write an `averagesteps()` function to compute the average the number of steps you take every day.

- The function should accept a list and compute the average of all elements inside the list

- Create a list with seven elements. The values in the list are your average steps your take everyday.

- Pass the list to the function and call the function

In [68]:
# put your answer here
def average_steps(steps_per_day):
  totalsteps = sum (steps_per_day)
  average = totalsteps / len(steps_per_day)
  return average
steps_per_day = [450,710,570,320,210,920,610]
average = average_steps(steps_per_day)
print ("Average steps_per_day: " , average)

Average steps_per_day:  541.4285714285714